
.row {
    align-items: center;
    h1 {
        font-size: 30px;
        margin: 30px 0;
    }
    .players-list {
        font-size: 30px;
        color: #09c;
    }
}


.basic-details {
    border: 1px solid #004d40;
    margin-bottom: 15px;
    h2 {
        background-color:#004d40;
        color:#fff;
        padding: 15px 20px;
        border-bottom: 1px solid #004d40;
        text-align: left;
    }
    label {
        margin-left: 15px;
    }
    input[type=checkbox] {
        margin-left: -5px;
    }
    .form-check {
        display: flex;
        align-items: center;
    }
}

.social {
    border: 1px solid #1a237e;
    margin-bottom: 15px;
    h2 {
        background-color :#1a237e;
        color:#fff;
        padding: 15px 20px;
        border-bottom: 1px solid #1a237e;
        text-align: left;
    }
    label {
        margin-left: 15px;
    }
}

.teams {
    border: 1px solid #b71c1c;
    margin-bottom: 15px;
    h2 {
        background-color: #b71c1c;
        color:#fff;
        padding: 15px 20px;
        border-bottom: 1px solid #b71c1c;
        text-align: left;
    }
    .create-team, label, a {
        margin-left: 15px;
    }
    p {
        margin: 20px 15px;
    }
}

.submit {
    display: flex;
    justify-content: center;
}